    <% contact = Naturesoft::Contacts::Contact.where(id: params["id"]).first %>
    <div class="form-group">
        <label class="col-md-2 control-label" ><%= t(:contact_id) %> <span class='text-danger'>*</span></label>
        <div class="col-md-10">
            <% selected = options_for_select([[contact.email,contact.id]],contact.id) if !contact.nil? %>
            <%= select_tag("params[id]",
              selected,
              {
                class: "select2-ajax",
                "data-url": naturesoft_contacts.select2_admin_contacts_path,
              }
            ) %>
        </div>
    </div>
